[submodule "rofi/rofi-themes"]
	path = rofi/rofi-themes
	url = https://github.com/davatorium/rofi-themes/
[submodule "fish/informative_git_prompt"]
	path = fish/informative_git_prompt
  url = https://github.com/mariuszs/informative_git_prompt.git
[submodule "nvim/colors/Benokai.vim"]
	path = nvim/colors/Benokai.vim
	url = https://github.com/benjaminwhite/Benokai.git
